.header {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  font-weight: bold;
  cursor: pointer;
  padding-top: 10px;
}

.header p:hover {
  color: yellow;
}

.header .dropdown ul {
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.header .dropdown button {
  color: white;
  position: relative;
  bottom: 7px;
  font-weight: bold;
  cursor: pointer;
}
